@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Dancing+Script:wght@500&family=Manrope:wght@200&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,100;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    outline: rgb(255, 255, 255);
}

.container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    background-image: url(http://wallpapercave.com/wp/mLoA3dT.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 6% 10% 10% 10%;
}

.title {
    margin: 6% 0% 3%;
    font-size: 40px;
}

.title h3 {
    font-size: 30px;
    padding: 0% 7% 0 0;
}

.logo {
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

a {
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

h1 {
   margin-left: -8%;
}

h3 {
    color: rgb(46, 46, 130);
}